@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "_assets";
@import "_root";
* {
    box-sizing: border-box !important;
}
$gradient: linear-gradient(90.66deg, #F1F4F5 -1.4%, #10A0FF -1.4%, #1893FF 10.87%, #5582FF 24.48%, #9973FF 38.6%, #D865E5 50.7%, #E285E8 58.77%, #F2815C 65.32%, #FD823A 71.87%, #FE8521 80.95%, #FCBF5B 99.43%);
body,
html {
    font-family: "Inter", system-ui !important;
}
a {
    text-decoration: none !important;
}
.header {
    background-image: url("../img/banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 100%;
    position: relative;
}
.banner__ico {
    position: absolute;
    bottom: -20%;
    left: 12%;
}
.info__content-text-head {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}
.info__content-text-monetary {
    background-color: #00a9901a;
    border-radius: 4px;
}
.info__content-text-link-item {
    background: #fff2e580 !important;
    border-radius: 4px !important;
}
.color-gray {
    color: #303030 !important;
}
.fs-14 {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.fs-12 {
    font-size: 12px !important;
}
.catalog__head {
    border-bottom: 2px solid #d6d6d6 !important;
}
.catalog__tabs-item {
    display: flex;
    align-items: center !important;
    a {
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        margin: 0 5px;
    }
}
.catalog__tabs-item-active {
    margin-right: 12px;
    a {
        color: #181818 !important;
    }
}
.catalog__tabs-item {
    a {
        color: #787878;
    }
}
input {
    outline: 0px none !important;
}
.btn-orange {
    background-color: #FF7F00 !important;
    color: #fff !important;
}
.align-center {
    display: flex !important;
    align-items: center !important;
    align-self: center !important;
}
.wh-16 {
    width: 16px;
    height: 16px;
}
.btn-blue {
    background-color: #149CFF1A !important;
}
.img-container {
    display: flex;
    gap: 10px;
}
.img-container img {
    max-width: 80px;
}
.bg-white {
    background-color: white !important;
}
.gradient-text {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.color-blue {
    color: #149CFF !important;
}
.catalog__banknote-card-img-wrapper {
    position: relative;
}
.ml-10 {
    margin-left: 10px !important;
}